    <div class="container">
      <hr>
      <h1>Create New Promotion Record</h1>
      <hr>
      
      <form action="/add" method="POST">  
        <div class="form-group row">
          <label for="ticket" class="col-sm-2 col-form-label">Ticket No</label>
          <input class="form-control col-sm-10" name="ticket" required value="">
       </div>
       <div class="form-group row">
          <label for="Title" class="col-sm-2 col-form-label">Title</label>
          <input class="form-control col-sm-10" name="title" required value="">
       </div>

        <div class="form-group row">
            <label for="Title" class="col-sm-2 col-form-label">Country</label>
            <select name="country" id="country" class="form-control col-sm-10" required>
              <option disabled selected>Choose your Country</option>
              <option value="all">All</option>
              <option value="ch">Switzerland</option>
              <option value="global">Global</option>
              <option value="uk">UK</option>
              <option value="de">Germany</option>
              <option value="fr">France</option>
              <option value="it">Italy</option>
              <option value="es">Spain</option>
            </select>
        </div>
        
        <div class="form-group row">
          <label for="startdate" class="col-sm-2 col-form-label">start date</label>
          <input type="date" class="form-control col-sm-4" name="startdate" value="" required>
          <label for="enddate" class="col-sm-2 col-form-label">end date</label>
          <input type="date" class="form-control col-sm-4" name="enddate" value="" required>
      </div>
      <br>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="/index-promotion" class="btn btn-info">Back</a>
      </form>
  </div>