    <div class="container">
      <hr>
      <h1>Create New Promotion Record</h1>
      <hr>
      
      <form action="/add" method="POST">  
        <div class="form-group">
          <label for="ticket">Ticket No</label>
          <input class="form-control" name="ticket" required value="">
       </div>
       <div class="form-group">
          <label for="Title">Title</label>
          <input class="form-control" name="title" required value="">
       </div>

       <div class="form-group">
          <div class="form-group">
            <select name="country" id="country" class="form-control" required>
              <option disabled selected>Choose your Country</option>
              <option value="all">All</option>
              <option value="ch">Switzerland</option>
              <option value="global">Global</option>
              <option value="uk">UK</option>
              <option value="de">Germany</option>
              <option value="fr">France</option>
              <option value="it">Italy</option>
              <option value="es">Spain</option>
            </select>
         </div>
       </div>
        
        <div class="form-group">
          <label for="startdate">start date</label>
          <input type="date" class="form-control" name="startdate" value="" required>
      </div>
      <div class="form-group">
          <label for="enddate">end date</label>
          <input type="date" class="form-control" name="enddate" value="" required>
      </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="/index-promotion" class="btn btn-info">Back</a>
      </form>
  </div>